.pipeline_cards{
    width: 100%;
    overflow-x: auto;
    // &::-webkit-scrollbar {
    //     display: none; /* for Chrome, Safari, and Opera */
    //   }
}

.visa_pipeline_cards{
    width: 100%;
    overflow-x: auto;
    height: 720px;
    // &::-webkit-scrollbar {
    //     display: none; /* for Chrome, Safari, and Opera */
    //   }
}
