.top_barMail{
    gap: 1.5rem !important;
    width: 100%;
    // justify-content: space-between !important;
    .search__bar{
        background-color: #f9fafc !important;
        padding: 3px !important;
        width: 75% !important;
        border-radius: 10px !important;
    }
}