.mail__btn {
    font-size: $btn-short-font-size;
    font-weight: $btn-short-font-weight;
    // height: $btn-short-height;
    border: $btn-border;
    border-radius: $btn-border-radius;
    box-shadow: none !important;
    letter-spacing: 0 !important;
    text-transform: capitalize !important;
    padding: 3rem 1rem !important;
    background-color: $outline-dark;
  }
  .mailcc__btn {
    font-size: $btn-short-font-size;
    font-weight: $btn-short-font-weight;
    // height: $btn-short-height;
    border: $btn-border;
    border-radius: $btn-border-radius;
    box-shadow: none !important;
    letter-spacing: 0 !important;
    text-transform: capitalize !important;
    // padding: 3rem 1rem !important;
    background-color: $outline-dark;
  }

  